.main{
    width: 1560px;
    height: 1359px;
    position: relative;
}

.nav{
    width: 100%;
    height: 80px;
}

#menu{
    position: absolute;
    top: 30px;
    left: 29px;
    height: 18px;
    width: 27px;
    display: inline;
}

#hlogo{
    position: absolute;
    top: 25px;
    left: 72px;
    height: 30px;
    width: 142px;
    display: inline;
}

#searchicon{
    position: absolute;
    top: 32px;
    left: 291px;
    height: 16px;
    display: inline;
}

#search{
    position: absolute;
    top: 30px;
    left: 321px;
    font-family: 'Segoe UI';
    display: inline;
    color: black;
    border: none;
}

#noticon{
    position: absolute;
    top: 28px;
    left: 1294px;
    width: 22px;
    height: 21px;
}

#profile{
    position: absolute;
    top: 18px;
    left: 1368px;
    width: 44px;
    height: 44px;
}

#name{
    position: absolute;
    top: 28px;
    left: 1424px;
    font-family: 'Segoe UI';
    display: inline;
}

#arrow{
    position: absolute;
    top: 30px;
    left: 1507px;
}

.sidebar{
    float:left;
}

.btn-success{
    margin-left: 50px;
    margin-top: 15px;
    background-color: white;
    color: black;
    font-family: 'Segoe UI';
    font-weight: bold;
    border-color: white;
    padding-left: 10px;
}

.btn-success:hover{
    color: red;
    background-color: white;
    border-color: white;
}

.btn-success:active{
    background-color: #ffbf00;
}

.dashboard{
    float: right;
    height: 1279px;
    width: 1318px;
    position: absolute;
    background-color: #fafafa;
    margin-left: 242px;
}

#Dname{
    top: 30px;
    left: 50px;
    font-family: 'Segoe UI';
    position: absolute;
    font-weight: 550;
}

.mb-4{
    left: 35px;
    top: 102px;
    height: 116px;
    width: 245px;
    display: inline-block;
}

.card-body{
    padding-top: 15px;
    padding-left: 0px;
    margin-left: 15px;
    
}

.card{
    border: none;
    height: 116px;
}

.col-auto{
    margin-left: 5px;
    margin-right: 5px;
}

.mr-2{
    margin-left: 20px;
}

.md-0{
    height: 33px;
}

.h5{
    font-size: 30px;
}

.mr-2{
    margin-left: 5px;
}

.card1{
    border: none;
    background-color: white;
    height: 400px;
    width: 802px;
    margin-top: 0px;
}

.card-body1{
    margin-top: 5px;
    margin-left: 25px;
    position: absolute;
    display: inline-block;
}

.graphtime{
    display: inline;
    margin-right: 21px;
    margin-top: 24px;
    font-size: 16px;
    font-family: 'Segoe UI';
}

#sale{
    margin-right: 490px;
    font-size: 25px;
    font-weight: 600;
}

#graph{
    margin-top: 25px;
}

.mb-5{
    left: 35px;
    top: 102px;
    width: 802px;
    height: 400px;
    margin-right: 500px;
    display: inline-block;
}

.mb-6{
    left: 30px;
    width: 385px;
    top: 54px;
    height: 400px;
    display: inline-block;
}

.card2{
    border: none;
    background-color: white;
    height: 400px;
    width: 385px;
    margin-top: 0px;
}

.card-body2{
    margin-top: 5px;
    margin-left: 25px;
    position: absolute;
    display: inline-block;
}

#pie{
    position: absolute;
    margin-top: 20px;
    margin-left: 45px;
}

#legenda {
    margin-left: 10px;
    padding: 5px;
    margin-top: 270px;
  }
  .entry {
    display: flex;
    align-items: center;
  }
  
  .entry-color {
      height: 10px;
      width: 10px;
      border-radius: 5px;;
  }
  
  .entry-text {
    margin-left: 5px;
  }
  
  #color-us {
    background-color: #C8242F;
  }

  #color-canada{
    background-color:#A2B86C;
    margin-left: 20px;
    
  }
  #color-russia{
    background-color:#F16C20;
  }
  #color-india{
    background-color:#EBC844;
    margin-left: 150px;
}

.table{
    width: 1217px;
    height: 578px;
    left: 292px;
    top: 760px;
    position: absolute;
    align-items: center;
    background-color: white;
    border: none;
}

.tableheader{
    display: inline;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
}

#view{
    margin-left: 1120px;
    height: 16px;
    margin-top: 25px;
    color: red;
}

.invoice{
    margin-top: 80px;
    margin-left: 30px;
    align-content: space-between;
    border: none;
    width: 1150px;
}

#paid{
    background-color: lightgreen;
    color: green;
}

.header{
    color: #ADADAD;

}

.th{
    color: #ADADAD;
}

#paid{
    background-color: #EBFFEF;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: green;
}

#failed{
    background-color: #FFF5F5;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: red;
}

#pending{
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #BABABA;
}

#year{
    text-decoration-line: underline;
    color: red;
}